body {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;

  color: #464646;
}

.headline {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 1.2;

  color: black;
}
