
body {
  min-width: 1160px;
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  font-family: "Open Sans", "Verdana", sans-serif;

  color: #464646;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  margin-top: 40px;

  background: #ffe27f;
}

.logo {
  width: 164px;
  height: 36px;
}

.logo img {
  width: 164px;
  height: 36px;
}

.main-header .logo {
  position: relative;
  top: -19px;

  margin-left: 57px;
}

.user-menu {
  margin-top: 4px;
  margin-right: 60px;
  margin-left: 60px;

  line-height: 2.4;
}

.search-form {
  float: left;
  width: 440px;
}

.search-form input {
  width: 355px;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 40px;
  box-sizing: border-box;

  font: inherit;

  background: transparent;
  border: none;
}

.search-form input::-webkit-input-placeholder {
  color: black;
  opacity: 0.3;
}

.search-form input:-moz-placeholder {
  color: black;
  opacity: 0.3;
}

.search-form input::-moz-placeholder {
  color: black;
  opacity: 0.3;
}

.search-form input:-ms-input-placeholder {
  color: black;
  opacity: 0.3;
}

.search-form button {
  display: none;
}

.user-menu ul {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.user-menu li {
  display: inline-block;
  min-width: 120px;

  font-size: 15px;
  vertical-align: top;
}

.user-menu li:first-child {
  min-width: 260px;
}

.main-menu {
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 60px;
}

.main-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.catalog-link,
.catalog-link ~ li {
  display: inline-block;
  min-width: 160px;

  font-size: 15px;
  vertical-align: top;
}

.catalog-link {
  width: 540px;
}

.catalog-link ~ li:last-child {
  margin-left: 20px;
}

.catalog-link > ul {
  position: absolute;

  display: none;
  width: 1040px;
}

.catalog-group {
  display: inline-block;
  min-width: 142px;
  margin-right: 68px;

  vertical-align: top;
}

.catalog-item {
  font-size: 15px;
}

.slider {
  overflow: hidden;
}

.slider-content {
  width: 300%;
  margin-top: -114px;
}

.slider-1,
.slider-2,
.slider-3 {
  float: left;
  width: 1160px;
}

.slider-1 img {
  width: 384px;
  height: 486px;
  margin-left: 89px;
}

.slider-2 img {
  width: 345px;
  height: 485px;
  margin-top: 6px;
  margin-left: 116px;
}

.slider-3 img {
  width: 526px;
  height: 334px;
  margin-top: 62px;
  margin-left: 31px;
}

.specifics {
  float: right;
  width: 500px;
  margin-top: 90px;
  margin-right: 65px;
}

.headline-1 {
  font-weight: bold;
  font-size: 47px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial Black", sans-serif;

  color: black;
}

.popular {
  margin-top: 95px;

  list-style: none;
}

.popular-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item div {
  height: 160px;
}

.headline-2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Gilroy", "Arial Black", sans-serif;

  color: black;
}

.services {
  width: 100%;
  margin-top: 173px;
}

.services-controls {
  float: left;
  width: 280px;
  margin-top: -100px;
}

.services-slide {
  float: right;
  width: 460px;
  margin-top: -22px;
  margin-right: 300px;
  overflow: hidden;
}

.services-content {
  width: 300%;
}

.services-item {
  float: left;
  width: 460px;
}

.logotypes {
  margin-top: 95px;
  padding: 0;

  list-style: none;
}

.logotypes li {
  float: left;
  width: 260px;
  margin-right: 40px;
}

.logotypes li:last-child {
  margin-right: 0;
}

.info {
  margin-top: 150px;
}

.about {
  float: left;
  width: 480px;
}

.contacts {
  float: right;
  width: 560px;
}

.main-footer {
  margin-top: 82px;
}

.main-footer .container {
  padding-top: 1px;
}

.footer-top {
  margin-top: 64px;
}

.footer-top .logo {
  float: left;
}

.footer-top ul {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.footer-top li {
  display: inline-block;
  min-width: 120px;

  font-size: 15px;
  vertical-align: top;
}

.footer-middle {
  margin-top: 28px;
}

.address,
.phone-number {
  width: 325px;
  margin: 0;
  padding: 0;
}

.address {
  float: left;
}

.footer-middle ul {
  float: left;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.footer-middle li {
  display: inline-block;
  width: 170px;

  font-size: 15px;
  vertical-align: top;
}

.phone-number {
  float: right;

  text-align: right;
}

.footer-bottom {
  float: right;
  width: 660px;
  margin-top: 55px;
}

.footer-bottom .social-networks {
  float: left;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.footer-bottom .social-networks li {
  display: inline-block;
  min-width: 53px;

  font-size: 15px;
  vertical-align: top;
}

.footer-bottom address {
  float: right;
  width: 30px;
}

.write-us {
  display: none;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
}

.write-us-form {
  width: 760px;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
}

.write-us-form .left-field {
  float: left;
  width: 400px;
}

.write-us-form .right-field {
  float: right;
  width: 360px;
}

.write-us-form label {
  display: block;
}

.write-us-form input {
  width: 360px;
  box-sizing: border-box;
}

.write-us-form > label {
  clear: both;
}

.write-us-form textarea {
  width: 100%;
  box-sizing: border-box;
}

.write-us-form button {
  width: 200px;
  margin-top: 40px;
}

.exit {
  width: 55px;
  height: 55px;
}

.map-popup {
  display: none;
  width: 960px;
  height: 559px;
  margin-right: auto;
  margin-left: auto;
}

h1,
.breadcrumps {
  margin: 0;
  margin-top: 40px;
  margin-left: 60px;
  padding: 0;
}

.breadcrumps {
  list-style: none;
}

.breadcrumps li {
  display: inline-block;
}

.catalog {
  width: 100%;
  margin-top: 50px;
}

.filter {
  width: 31.5%;
  float: left;
}

.filter-column {
  float: right;
  width: 200px;
  margin-right: 68.5px;
}

.goods {
  float: left;
  width: 68%;
}

.goods-column {
  float: left;
  width: 760px;
  margin-left: 72px;

  font-size: 0;
}

.goods-header p,
/*.goods-header ul,*/
.goods-header span {
  float: left;

  font-size: 15px;
}

.goods-header p,
.goods-header ul,
.goods-header span

.goods-header ul {
  float: left;

  list-style: 0;
}

.goods-header li {
  display: inline-block;

  font-size: 15px;
  vertical-align: top;
}

.filter-column button {
  width: 200px;
}

.goods-item {
  display: inline-block;

  font-size: 15px;
  vertical-align: top;
}

.goods-item:nth-child(2n+1) {
  margin-right: 40px;
}

.goods-item > a {
  display: none;
}

.pages {
  font-size: 15px;
  text-align: center;
  vertical-align: top;
}

.pages p,
.pages ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: top;
}

.pages ul {
  list-style: none;
  font-size: 0;
}

.pages li {
  display: inline-block;

  font-size: 15px;
  vertical-align: top;
}

.selfie-sticks-footer {
  margin-top: 0;
}

/*цветная подсветка блоков сетки*/
/*
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}
body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > * > *{
  background: rgba(102, 205, 170, 0.2);
  box-shadow: inset 0 0 0 2px rgb(102, 205, 170);

}

body > * > * > * > * > * {
  background: rgba(255, 0, 157, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 0, 157);
}
